In [95]:
import pandas as pd

from pandas.io.json import json_normalize
from SPARQLWrapper import SPARQLWrapper, JSON

In [96]:
def query_fusekidata(sparql_query, sparql_service_url):
    """
    Query the endpoint with the given query string and return the results as a pandas Dataframe.
    """
    # create the connection to the endpoint
    sparql = SPARQLWrapper(sparql_service_url)
    
    sparql.setQuery(sparql_query)
    sparql.setReturnFormat(JSON)

    # ask for the result
    result = sparql.query().convert()
    return json_normalize(result["results"]["bindings"])

In [97]:
sparql_query = """
PREFIX project: <http://imce.jpl.nasa.gov/foundation/project/project#>
PREFIX oml: <http://def.seegrid.csiro.au/ontology/om/om-lite#>
PREFIX owl:   <http://www.w3.org/2002/07/owl#>
PREFIX rdfs:  <http://www.w3.org/2000/01/rdf-schema#>
PREFIX fse:   <http://imce.jpl.nasa.gov/discipline/fse/fse#>
PREFIX base:  <http://imce.jpl.nasa.gov/foundation/base/base#>
PREFIX analysis: <http://imce.jpl.nasa.gov/foundation/analysis/analysis#>
PREFIX mission: <http://imce.jpl.nasa.gov/foundation/mission/mission#>
PREFIX pr: <http://purl.org/ontology/prv/core#>
PREFIX pro: <http://purl.org/hpi/patchr#>

SELECT DISTINCT ?subSystem ?workPackage

FROM <urn:x-arq:UnionGraph>
WHERE
{
  ?a a fse:Subsystem ;
     base:hasCanonicalName ?subSystem .
  
  optional {
    ?b a project:WorkPackage ;
       base:hasCanonicalName ?workPackage ;
       project:supplies ?a .
  } 
}
"""

#to query another endpoint, change the URL for the service and the query
sparql_service_url = "http://localhost:3030/WBv13.4"
result_table = query_fusekidata(sparql_query, sparql_service_url)

In [98]:
result_table.shape

(9, 4)

In [99]:
result_table.head()

  subSystem.type            subSystem.value workPackage.type workPackage.value
0        literal             Communications              NaN               NaN
1        literal            Thermal control              NaN               NaN
2        literal  Command and data handling          literal          WP6.4.10
3        literal  Structures and mechanisms          literal           WP6.4.4
4        literal                    Payload          literal               WP5

In [100]:
simple_table = result_table[["subSystem.value", "workPackage.value"]]

In [101]:
simple_table

             subSystem.value workPackage.value
0             Communications               NaN
1            Thermal control               NaN
2  Command and data handling          WP6.4.10
3  Structures and mechanisms           WP6.4.4
4                    Payload               WP5
5                 Propulsion           WP6.4.8
6                        EPS           WP6.4.6
7      Firesat flight system   Firesat project
8               ADCS and GNC           WP6.4.7

In [102]:
simple_table = simple_table.rename(columns = lambda col: col.replace(".value", ""))

In [103]:
simple_table

                   subSystem      workPackage
0             Communications              NaN
1            Thermal control              NaN
2  Command and data handling         WP6.4.10
3  Structures and mechanisms          WP6.4.4
4                    Payload              WP5
5                 Propulsion          WP6.4.8
6                        EPS          WP6.4.6
7      Firesat flight system  Firesat project
8               ADCS and GNC          WP6.4.7

In [104]:
simple_table = simple_table.append({'subSystem' : 'Payload' , 'workPackage' : 'WPx'} , ignore_index=True)

In [105]:
counts = simple_table.groupby(["subSystem"]).size()

In [106]:
counts = counts.to_frame("workPackage_count")

In [107]:
counts

                           workPackage_count
subSystem
ADCS and GNC                               1
Command and data handling                  1
Communications                             1
EPS                                        1
Firesat flight system                      1
Payload                                    2
Propulsion                                 1
Structures and mechanisms                  1
Thermal control                            1

In [108]:
# selecting rows based on condition 
counts_single = counts[counts['workPackage_count'] > 1]

In [109]:
counts_single.shape[0]

1

In [110]:
if counts_single.shape[0] == 0:
    print("pas de doublons.")
else:
    print("doublon(s): " +str(counts_single.shape[0]))
    display(counts_single)
    test = simple_table[simple_table.subSystem == counts_single.subSystem]
    display(test)

doublon(s): 1

           workPackage_count
subSystem
Payload                    2

AttributeError: 'DataFrame' object has no attribute 'subSystem'

In [114]:
test = simple_table[simple_table.subSystem == 'Payload']
display(test)

  subSystem workPackage
4   Payload         WP5
9   Payload         WPx

In [121]:
essai = dataFrame(counts_single.subSystem)
#test = simple_table[counts_single.subSystem.isin simple_table.subSystem]
#display(test)

NameError: name 'dataFrame' is not defined

In [141]:
counts.shape
counts_single.loc[: , subSystem]

NameError: name 'subSystem' is not defined